/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*----------------
    COMMON
-----------------*/
.container{
    display: flex;
    background-color:  #255EE9;
    justify-content: center;
    padding: 16px;
}

.logo{
    width: 240px;
    background-color:  #255EE9;
}

.main-nav{
    width: 725px;
    background-color:  #255EE9;
}

li{
    display: inline-block;
    color: white;
    padding: 20px;
}

.login{
    width: 240px;
    background-color: #255EE9;
}

.btn{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: white;
    border: none;
}

#mac-btn{
    width: 205px;
    color: white;
    background-color: #7289DA;
    border: none;
}

.container-header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 505px;
    padding: 50px;
    text-align: center;
}

.header-content{
    width: 900px; 
    height: 400px;
    justify-content: center;
}

.prima{
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 55px;
}

.container-blu{
    width: 720px;
    height: 505px;
    border: 1px dashed black;
}



.container-rosa{
    width: 350px;
    height: 505px;
    border: 1px dashed black;
}

.seconda{
    height: 600px;
    background-color: rgb(211,211,211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.terza{
    height: 1000px;
    background-color: rgb(211,211,211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-verde{
    width: 1200px;
    height: 900px;
    background-color: rgb(34,139, 34);
    border: 1px dashed black;
    text-align: center;
}

.contenitore-footer{
    height: 630px;
    background-color: rgb(35,39,42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-rosa-footer{
    width: 360px;
    height: 580px;
    background-color: rgb(240,128,128);
    border: 1px dashed black;
}

.container-azzurro-footer{
    width: 210px;
    height: 580px;
    background-color: #20b2aa;
    border: 1px dashed white;
}

.container-ultimo{
    height: 110px;
    background-color: rgb(35,39,42);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.last-container{
    width: 1200px;
    height: 80px;
    background-color: rgb(127,255,212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.minidiv-footer{
    height: 30px;
    width: 67px;
    background-color: rgb(255,182,193);
    border: 1px dashed black;
}

.contenitore-paragrafo{
    width: 875px;
    margin: auto;
}
/*-------------
    TYPOGRAPHY
---------------*/
h1{
    color: white;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    
}

#primo-paragrafo{
    color: white;
    margin-top: 20px;
    font-size: 25px;
}

h2{
    font-size: 40px;
    color: #23272A;
}

p{
    font-size: 20px;
    margin-top: 30px;
    color: #23272A;
}