/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*----------------
    COMMON
-----------------*/
.container{
    display: flex;
    background-color:  #255EE9;
    justify-content: center;
    padding: 16px;
}

.logo{
    width: 240px;
    background-color:  #255EE9;
}

.main-nav{
    width: 725px;
    background-color:  #255EE9;
}

li{
    display: inline-block;
    color: white;
    padding: 20px;
}

#ul-footer{
    display: block;
}
.login{
    width: 240px;
    background-color: #255EE9;
}

.btn{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: white;
    border: none;
}

#mac-btn{
    width: 205px;
    color: white;
    background-color: #7289DA;
    border: none;
}

#registrati-btn{
    background-color: #7289DA;
    border: none;
    width: 150px;
    margin-top: 0px;
    margin-left: -100px;
}
.container-header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 505px;
    padding: 50px;
    text-align: center;
}

.header-content{
    width: 900px; 
    height: 400px;
    justify-content: center;
}

.prima{
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 55px;
}

.container-blu{
    width: 720px;
    height: 505px;
}

.container-rosa{
    width: 350px;
    height: 505px;
}

.seconda{
    height: 600px;
    background-color: rgb(211,211,211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.terza{
    height: 1000px;
    background-color: rgb(211,211,211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-verde{
    width: 1200px;
    height: 900px;
    text-align: center;
}

.contenitore-footer{
    height: 630px;
    background-color: rgb(35,39,42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-rosa-footer{
    width: 360px;
    height: 580px;
}

.container-azzurro-footer{
    width: 210px;
    height: 580px;
}

.container-ultimo{
    height: 110px;
    background-color: rgb(35,39,42);
    border-top: 3px solid #7289DA;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.last-container{
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.minidiv-footer{
    height: 30px;
    width: 67px;
}

.contenitore-paragrafo{
    width: 875px;
    margin: auto;
}

#ita{
    width: 26px;
    height: 17px;
    margin-top: 30px;
    display: inline-block;
}
/*-------------
    TYPOGRAPHY
---------------*/
h1{
    color: white;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    
}

#primo-paragrafo{
    color: white;
    margin-top: 20px;
    font-size: 25px;
}

h2{
    font-size: 40px;
    color: #23272A;
}

p{
    font-size: 20px;
    margin-top: 30px;
    color: #23272A;
}

#footer-h2{
    color: #7289DA;
}

#paragrafo-footer{
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
}

i{
    color: white;
    padding: 5px;
}

strong{
    color: #7289DA;
    font-size: 20px;
}